services:
  - type: web
    name: matrixflow-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node api/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
    autoDeploy: true
